@use '../../../../scss/abstracts' as *;

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__img {
    margin-bottom: space(6);
    width: 288px;
    height: 384px;
    background-color: var(--color-gray-100);
    //box-shadow: var(--box-shadow-xs);

    img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  h3 {
    margin-bottom: space(4);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--color-black);
  }

  &__price {
    font-family: var(--font-family);
    text-align: center;

    b {
      font-size: 18px;
      line-height: 25px;
      font-weight: 900;
    }

    span {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
