<ng-container *ngIf="data">
  <div class="hero">
    <div class="hero__container container">
      <div class="hero__logo">
        <tui-svg src="icons::hero-logo"></tui-svg>
      </div>
      <h1 class="hero__title" [innerHTML]="formatText(data.text)"></h1>
      <ng-container *ngIf="photos$ | async as photos">
        <div *ngFor="let photo of photos; let i = index" class="hero__photo" [ngClass]="'hero__photo--' + (i + 1)">
          <img [ngSrc]="setImageUrl(photo.attributes.url)" width="120" height="120" alt="" priority />
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
