<div class="new-password">
  <h1 class="new-password__heading">Новый пароль</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <label class="form__field">
      <span class="form__label">Пароль</span>
      <tui-input-password
        formControlName="password"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        Пароль
        <input
          tuiTextfield
          placeholder="Make it secure!"
        />
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label class="form__field">
      <span class="form__label">Повторите пароль</span>
      <tui-input-password
        formControlName="passwordConfirmation"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        Пароль
        <input
          tuiTextfield
          placeholder="Make it secure!"
        />
      </tui-input-password>
      <tui-error
        formControlName="passwordConfirmation"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>

    <div class="form__actions">
      <button type="submit" tuiButton size="m" class="btn--md">Сохранить</button>
    </div>
  </form>
</div>
