@use '../abstracts' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 22.25rem;
  margin-inline: auto;
  gap: space(10);

  &__label {
    margin-bottom: space(4);
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

  &__actions {
    margin-top: space(6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(3);
  }
}
