@use '../abstracts' as *;

.form {

  &__label {
    margin-bottom: space(2);
    display: block;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: var(--color-black);
  }

  &--auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22.25rem;
    margin-inline: auto;
    gap: space(10);

    .form__label {
      margin-bottom: space(4);
      text-align: center;
      text-transform: uppercase;
    }

    .form__actions {
      margin-top: space(6);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);
    }
  }
}
