@use '../abstracts' as *;

.title {
  margin-bottom: space(10);
  font-family: var(--font-family-secondary);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;

  span {
    display: block;
    font-weight: 300;
  }

  &--lvl-1 {
    font-size: 36px;

    @include mq(sm) {
      font-size: 4.063rem;
    }
  }

  &--lvl-2 {
    font-size: 36px;

    @include mq(sm) {
      font-size: 4.063rem;
    }
  }

  &--no-mb {
    margin-bottom: 0;
  }
}
