<div class="forgot-password">
  <h1 class="forgot-password__heading">Восстановление пароля</h1>
  <p class="forgot-password__account">
    <a href="" tuiLink>Вход на сайт</a>
    <a href="" tuiLink>Регстрация</a>
  </p>
  <p class="forgot-password__text">Введите свой E-mail, на него будет отправлен проверочный код.
    После его получения вы сможете ввести новый пароль для вашей учётной записи.</p>
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <label class="form__field">
      <span class="form__label">E-mail</span>
      <tui-input
        tuiTextfieldSize="m"
        formControlName="email"
        [tuiTextfieldLabelOutside]="true"
      >
        Email
        <input tuiTextfield type="text"  />
      </tui-input>
      <tui-error
        formControlName="email"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <div class="form__actions">
      <button type="submit" tuiButton size="m" class="btn--md">Отправить запрос</button>
    </div>
  </form>
</div>
