@use '../../../../scss/abstracts' as *;

.forgot-password {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &__heading {
    margin-bottom: space(4);
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__account {
    margin-bottom: space(10);
    display: flex;
    justify-content: center;
    gap: space(4);
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
  }

  &__text {
    margin-bottom: space(5);
  }
}
