<ng-container *tuiLet="currentStep$ | async as currentStepIndex">
  <ng-container *tuiLet="isCurrentStepValid$ | async as isCurrentStepValid">
    <ul class="stepper" *tuiLet="finishedSteps$ | async as finishedSteps">
      <li
        *ngFor="let step of steps; let i = index"
        class="stepper-item last-of-type:before:hidden last-of-type:after:hidden"
        [class.active]="i === currentStepIndex"
        [class.invalid]="!isCurrentStepValid && i === currentStepIndex"
        [class.done]="finishedSteps[i]"
      >
        <div class="stepper-point" [attr.data-step]="i + 1">
          <tui-svg src="tuiIconCheckLarge"></tui-svg>
        </div>
        <span class="stepper-label">{{ step }}</span>
      </li>
    </ul>
  </ng-container>
</ng-container>
