<div class="page">
  <div class="page__header">
    <h1 class="page__title">Информация о заказах</h1>
  </div>
  <section class="page__scroll">
    <article class="order">
      <header class="order__meta">
        <h3>Заказ №120</h3>
        <dl>
          <dt>Дата</dt>
          <dt>Стоимость</dt>
          <dt>Статус</dt>
          <dd>6.04.2023</dd>
          <dd>7 990 ₽</dd>
          <dd>Завершено</dd>
        </dl>
      </header>
      <div class="order__list">
<!--        <table class="products products&#45;&#45;mobile">-->
<!--          <tr *ngFor="let product of products">-->
<!--            <td class="products__img">-->
<!--              <img *ngIf="product.attributes.images.data[0].attributes as image"-->
<!--                   [src]="setImageUrl(image.formats['thumbnail'].url)"-->
<!--                   [alt]="image.caption"-->
<!--              />-->
<!--            </td>-->
<!--            <td class="products__main">-->
<!--              <table>-->
<!--                <tr>-->
<!--                  <td colspan="6" class="products__name">-->
<!--                    {{product.attributes.label}}-->
<!--                    <b>{{product.attributes.name}}</b>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td  class="products__count"><tui-input-count size="s" [tuiTextfieldLabelOutside]="true"></tui-input-count></td>-->
<!--                  <td class="products__size">S</td>-->
<!--                  <td class="products__model">{{product.attributes.model}}</td>-->
<!--                  <td class="products__color">Голубой</td>-->
<!--                  <td>{{product.attributes.price}} {{ 'RUB' | tuiCurrency }}</td>-->
<!--                  <td>-->
<!--                    <button type="button" (click)="removeProduct(product)">-->
<!--                      <tui-svg src="icons::trash" class="icon icon&#45;&#45;black"></tui-svg>-->
<!--                    </button>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->
<!--        <table class="products products&#45;&#45;desktop">-->
<!--          <tr *ngFor="let product of products">-->
<!--            <td class="products__img">-->
<!--              <img *ngIf="product.attributes.images.data[0].attributes as image"-->
<!--                   [src]="setImageUrl(image.formats['thumbnail'].url)"-->
<!--                   [alt]="image.caption"-->
<!--              />-->
<!--            </td>-->
<!--            <td colspan="6" class="products__name">-->
<!--              {{product.attributes.label}}-->
<!--              <b>{{product.attributes.name}}</b>-->
<!--            </td>-->
<!--            <td  class="products__count"><tui-input-count size="s" [tuiTextfieldLabelOutside]="true"></tui-input-count></td>-->
<!--            <td class="products__size">S</td>-->
<!--            <td class="products__model">{{product.attributes.model}}</td>-->
<!--            <td class="products__color">Голубой</td>-->
<!--            <td>{{product.attributes.price}} {{ 'RUB' | tuiCurrency }}</td>-->
<!--            <td>-->
<!--              <button type="button" (click)="removeProduct(product)">-->
<!--                <tui-svg src="icons::trash" class="icon icon&#45;&#45;black"></tui-svg>-->
<!--              </button>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->
      </div>
    </article>
  </section>
</div>
