@use '../../../../scss/abstracts' as *;

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: space(5);

  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}
