@use '../abstracts' as *;

body {
  min-height: 100vh;
}

app-root {
  display: block;
  height: 100%;
}

tui-root {
  height: 100%;
}

tui-dropdown-host {
  .page--mobile-menu-opened & {
    overflow-x: hidden;
    height: auto;
  }
}

.t-root-content {
  //padding-top: 60px;
  //display: grid;
  ////grid-template-columns: 1fr;
  ////grid-template-rows: auto 1fr auto;
  transition: all 0.3s ease-in;

  .page--mobile-menu-opened & {
    transform: translateX(120px);
    height: auto;
  }
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

p {
  margin-bottom: space(4);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 18px;
}
