@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/bebasneuethin.woff2') format('truetype');
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/bebasneuelight.woff2') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/bebasneuebook.woff2') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/bebasneueregular.woff2') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/fonts/bebasneuebold.woff2') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Thin.woff2') format('truetype');
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-UltraLight.woff2') format('truetype');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Light.woff2') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Regular.woff2') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Medium.woff2') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Bold.woff2') format('truetype');
  font-display: swap;
  font-weight: 700;
}
