<footer class="page-footer">
  <div class="page-footer__container container">
    <div class="page-footer__col">
      <tui-svg src="logo-footer"></tui-svg>
      <small>
        ©2023 Copyright Fareastern Vikings Gear. All right reserved.
      </small>
    </div>
    <div class="page-footer__col">
      <div>RUS/ENG</div>
      <ul>
        <li>
          <a routerLink="" tuiLink>Политика конфиденциальности</a>
          <a routerLink="" tuiLink>Публичная оферта</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__col">
      <a href="mailto: info@fevikings.shop" tuiLink>info@fevikings.shop</a>
      <a href="tel: +7 (900) 900-90-90" tuiLink>+7 (900) 900-90-90</a>
    </div>
    <div class="page-footer__col page-footer__col--social">
      <a href="#">
        <tui-svg src="icons::whatsapp"></tui-svg>
      </a>
      <a href="#">
        <tui-svg src="icons::instagram"></tui-svg>
      </a>
      <a href="#">
        <tui-svg src="icons::telegram"></tui-svg>
      </a>
      <a href="#">
        <tui-svg src="icons::vk"></tui-svg>
      </a>
    </div>
  </div>
</footer>
