<div class="features">
  <div class="features__item">
    <tui-svg src="icons::map"></tui-svg>
    <small>Российское<br />производство</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::price"></tui-svg>
    <small>Доступные<br />цены</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::yacht"></tui-svg>
    <small>Произведено с учётом<br />запросов спортсменов</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::innovation"></tui-svg>
    <small>Инновационные<br />материалы</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::delivery"></tui-svg>
    <small>Доставка по<br />всему миру</small>
  </div>
</div>
