<div class="features">
  <div class="features__item">
    <tui-svg src="icons::map" class="icon"></tui-svg>
    <small>Российское<br />производство</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::price" class="icon"></tui-svg>
    <small>Доступные<br />цены</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::yacht" class="icon"></tui-svg>
    <small>Произведено с учётом<br />запросов спортсменов</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::innovation" class="icon"></tui-svg>
    <small>Инновационные<br />материалы</small>
  </div>
  <div class="features__item">
    <tui-svg src="icons::delivery" class="icon"></tui-svg>
    <small>Доставка по<br />всему миру</small>
  </div>
</div>
