@use '../../../../scss/abstracts' as *;

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(#191036, 0.3);

  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    min-height: space(15);
    column-gap: space(10);
    color: var(--color-white);
  }

  &__list {
    display: flex;
    gap: space(2);
  }
}
