<div class="page-header">
  <nav class="page-header__container container">
    <a href="/" class="page-header__logo">
      <tui-svg src="icons::logo"></tui-svg>
    </a>
    <ul class="page-header__list">
      <li>
        <a routerLink="" tuiLink>Каталог</a>
      </li>
      <li>
        <a routerLink="" tuiLink>О бренде</a>
      </li>
      <li>
        <a routerLink="" tuiLink>Контакты</a>
      </li>
    </ul>
    <ul class="page-header__list">
      <li>RUS/ENG</li>
      <li>
        <tui-svg src="icons::phone"></tui-svg>
      </li>
      <li (click)="login()">
        <tui-svg src="icons::user"></tui-svg>
      </li>
      <li>
        <a routerLink="/cart">
          <tui-svg src="icons::cart"></tui-svg>
          <tui-badge
            *ngIf="productsCount$ | async as productsCount"
            status="primary"
            class="tui-space_right-2"
            [value]="productsCount"
          ></tui-badge>
        </a>
      </li>
    </ul>
  </nav>
</div>
