@use '../../../../scss/abstracts' as *;

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(#191036, 0.3);

  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    min-height: space(15);
    column-gap: space(10);
    color: var(--color-white);
  }

  &__nav {
    margin-left: 400px;
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: space(2);
  }

  &__cart {
    position: relative;

    span {
      position: absolute;
      top: -8px;
      right: -2px;
    }
  }

  &__burger {
    display: none;
  }
}
