<div class="page-header">
  <nav class="page-header__container container">
    <a href="/" class="page-header__logo">
      <tui-svg src="icons::logo" class="icon icon--logo"></tui-svg>
    </a>
    <button type="button" class="page-header__burger" (click)="openMobile()">
      <span></span>
    </button>
    <div class="page-header__nav">
      <app-main-nav></app-main-nav>
    </div>
    <div class="page-header__lang">
      <app-lang (change)="changeLang($event)"></app-lang>
    </div>
    <div class="page-header__actions">
      <a href="tel:+79510277322">
        <tui-svg src="icons::phone"></tui-svg>
      </a>
      <button type="button" (click)="login()">
        <tui-svg src="icons::user"></tui-svg>
      </button>
      <a class="page-header__cart" (click)="openCart()">
        <tui-svg src="icons::cart"></tui-svg>
        <span>
          <tui-badge
            *ngIf="productsCount$ | async as productsCount"
            status="primary"
            size="xs"
            [value]="productsCount"
          ></tui-badge>
        </span>
      </a>
    </div>
  </nav>
</div>
<app-mobile-nav></app-mobile-nav>
