@use '../../scss/abstracts' as *;

.product {
  padding-top: space(25);
  color: var(--color-black);
  overflow: hidden;

  &__container {
    padding: 0;
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-template-areas:
      '. back .'
      '. title. '
      'showcase showcase showcase'
      '. params .'
      '. description .'
      '. buy .';

    @include mq(md) {
      padding: 0 1.5rem;
      grid-template-columns: 1fr 720px;
      grid-template-areas:
      'back showcase'
      'title showcase'
      'description showcase'
      'params showcase'
      'buy showcase';
    }
  }

  &__back {
    margin-bottom: space(7);
    grid-area: back;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 18px;
  }

  &__title {
    grid-area: title;
  }

  &__description {
    margin-bottom: space(10);
    z-index: var(--layer-1);
    grid-area: description;
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.16rem;
  }

  &__params {
    margin-bottom: space(10);
    grid-area: params;

    dl {
      margin-bottom: space(4);
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      column-gap: space(6);
      row-gap: space(6);
    }
  }

  &__buy {
    grid-area: buy;
  }

  &__showcase {
    position: relative;
    overflow: hidden;
    display: flex;
    grid-area: showcase;

    @include mq(md) {
      overflow: unset;
    }

    @include mq(lg) {
      padding-right: space(11);
    }

    div {
      position: relative;
      left: 36px;
      padding-top: 19vw;
      padding-bottom: 21vw;
      transform: scale(1.5);

      @include mq(md) {
        left: unset;
        padding: 0;
        transform: unset;
      }

      @include mq(lg) {
        right: -50px;
        transform: scale(1.1);
      }
    }

    img {
      display: block;
      object-fit: cover;
    }
  }

  &__about {
    margin-top: space(6);
    padding-top: space(10);
    padding-bottom: space(10);
    background-color: var(--color-gray-100);

    @include mq(sm) {
      padding-top: space(15);
    }
  }

  &__about .container {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-areas:
      'photos'
      'details'
      'features'
      'activities';

    @include mq(md) {
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        'details photos'
        'activities activities'
        'features features';
      column-gap: space(5);
    }

    @include mq(lg) {
      grid-template-areas:
        'details photos'
        'activities photos'
        'features features';
    }
  }

  &__photos {
    margin-bottom: space(15);
    grid-area: photos;
  }

  &__details {
    margin-bottom: space(6);
    grid-area: details;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: space(6);
      column-gap: space(5);

      @include mq(sm) {
        grid-template-columns: 1fr auto;
      }

      @include mq(md) {
        grid-template-columns: 1fr;
      }

      @include mq(lg) {
        grid-template-columns: 1fr auto;
      }
    }

    li:last-child {
      grid-column: 1 / -1;
    }
  }

  &__features {
    margin-bottom: space(11);
    grid-area: features;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: space(2);

      @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: space(10);
      }

      @include mq(lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: space(20);
      }
    }
  }

  &__activities {
    grid-area: activities;

    @include mq(md) {
      margin-bottom: space(15);
    }

    //@include mq(lg) {
    //  display: grid;
    //  grid-template-columns: repeat(2, auto);
    //  gap: space(6);
    //  justify-content: start;
    //  align-items: start;
    //}

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: start;
      gap: space(6);

      @include mq(sm) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mq(lg) {
        grid-template-columns: repeat(2, auto);
        column-gap: space(15);
      }
    }

    li {
      display: flex;
      align-items: center;
      gap: space(2);
    }
  }
}
