<!--<tui-loader [showLoader]="isLoading$ | async">-->
<!-- -->
<!--</tui-loader>-->
<div *ngIf="product$ | async as product" class="product">
  <div class="product__container container">
    <div class="product__back">
      <a routerLink="../"
         class="link link--black"
         tuiLink icon="icons::arrow-back"
         iconAlign="left"
      >Назад в каталог</a>
    </div>
    <h1 class="product__title title title--lvl-1 title--no-mb">
      <b>{{product.attributes.label}}</b>
      <span>"{{product.attributes.name}}"</span>
    </h1>
    <div [innerHTML]="product.attributes.description" class="product__description"></div>
    <div class="product__params">
      <dl>
        <dt>Модель:</dt>
        <dd>{{product.attributes.model}}</dd>
        <dt *ngIf="product.attributes.colors">Цвет:</dt>
        <dd>
          <app-color-picker [colors]="product.attributes.colors" [formControl]="color"></app-color-picker>
        </dd>
        <dt>Размер:</dt>
        <dd>
          <app-size-picker [sizes]="product.attributes.sizes" [formControl]="size"></app-size-picker>
        </dd>
      </dl>
      <a tuiLink class="link link--gray">Таблица размеров</a>
    </div>
    <div class="product__buy">
      <button type="button"
              tuiButton appearance="primary"
              size="m" class="" (click)="addProduct(product)">{{product.attributes.price}} {{ 'RUB' | tuiCurrency }}</button>
    </div>
    <ng-template #choose>
      <div class="wrapper">
        «Choose wisely»
      </div>
    </ng-template>
    <ng-template #poorly>
      <div class="wrapper">
        «You chose poorly»
      </div>
    </ng-template>
    <ng-template #wisely>
      <div class="wrapper">
        «You have chosen wisely»
      </div>
    </ng-template>
    <div *ngIf="product.attributes.showcase as img" class="product__showcase">
      <div>
        <img [src]="setImageUrl(img.data.attributes.url)" alt="" />
      </div>
    </div>
  </div>
  <section class="product__about">
    <div class="container">
      <div class="product__details">
        <h2 class="title title--lvl-2">О товаре:</h2>
        <ul>
          <li>
            <p class="text text--gray">Состав:</p>
            <p class="text">{{product.attributes.compound}}</p>
          </li>
          <li>
            <p class="text text--gray">Производство:</p>
            <p class="text">Россия</p>
          </li>
          <li>
            <p class="text text--gray">Уход:</p>
            <p class="text">{{product.attributes.care}}</p>
          </li>
        </ul>
      </div>
      <div class="product__features">
        <p class="text text--gray">Особенности:</p>
        <ul>
          <li class="text">Слой неопрена на задней поверхности бедра для сохранения тепла и комфортного нахождения в положении сидя</li>
          <li class="text">Двойной слой неопрена и слой 3Д сетки на коленях и голени для защиты от ударов и комфортного упора коленями</li>
          <li class="text">Резиновая полоса с силиконовыми волокнами на нижней части голени для надёжной фиксации</li>
        </ul>
      </div>
      <div class="product__photos">
        <app-photo-viewer *ngIf="product.attributes.images as images" [photos]="images.data"></app-photo-viewer>
      </div>
      <div class="product__activities">
        <h2 class="title title--lvl-2">Идеально для:</h2>
        <ul>
          <li *ngFor="let activity of product.attributes.activity">
            <tui-svg [src]="'icons::' + activity.toLowerCase()"></tui-svg>
            <span class="text text--no-mb">{{Activities[activity.toLowerCase()]}}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
