<div class="promo">
  <div class="promo__container container">
    <h2 class="promo__title">Надежные ткани для экстримальных условий</h2>
    <div class="promo__text">
      <p>Перфорированный неопрен - прочный, долговечный, дышащий материал, прекрасно защищает тело от потери тепла</p>
      <p>Армированный неопрен - обеспечивает дополнительную защиту и прочность, укрепляет высоконагруженные зоны</p>
      <p>Дышащие и быстросохнущие синтетические ткани российского производства обеспечивают максимальный комфорт и защиту от ветра, воды, солнца и истирания.</p>
    </div>
  </div>
  <div class="promo__bg"></div>
</div>
