@use '../../scss/abstracts' as *;

.page-section {
  margin-top: space(20);
  margin-bottom: space(20);
  padding-top: space(10);
  padding-bottom: space(10);

  &--team {
    background-color: var(--color-secondary);
  }

  &__title {
    font-family: var(--font-family-secondary);
    font-size: 2.25rem;
    line-height: 1;
    color: var(--color-black);

    .page-section--catalog & {
      margin-bottom: space(16);
    }
  }
}
