<app-hero></app-hero>
<section class="page-section">
  <div class="container">
    <div class="page-section__title">
      <h2 class="title title--lg">Наши товары<br />
        для водного спорта</h2>
    </div>
    <app-catalog></app-catalog>
  </div>
</section>
<app-production></app-production>
<div class="page-section">
  <div class="page-section__container container">
    <app-features></app-features>
  </div>
</div>
<div class="page-section">
  <div class="page-section__container container">
    <app-about></app-about>
  </div>
</div>
<div class="page-section page-section--team">
  <div class="page-section__container container">
    <app-team></app-team>
  </div>
</div>
<app-promo></app-promo>
