@use '../../scss/abstracts' as *;

.page-section {
  //margin-top: space(20);
  //margin-bottom: space(20);
  //padding-top: space(10);
  //padding-bottom: space(10);

  &--catalog {
    margin-top: space(20);
    margin-bottom: space(20);
  }

  &__container {
    .page-section--catalog & {
      @include mq(md) {
        @include container();
      }
    }
  }

  &--team {
    background-color: var(--color-secondary);
  }

  &--features {
    margin-top: space(11);
    margin-bottom: space(11);
  }

  &--about {
    margin-top: space(15);
    margin-bottom: space(20);
  }

  &__title {
    font-family: var(--font-family-secondary);
    font-size: 2.25rem;
    line-height: 1;
    color: var(--color-black);

    .page-section--catalog & {
      padding: 0 1.5rem;
      margin-bottom: space(16);

      @include mq(lg) {
        padding: 0;
      }
    }
  }
}
