@use '../../../../scss/abstracts' as *;

.catalog {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: space(5);

    //@include mq(lg) {
    //
    //}
  }
}

.swiper {
  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  z-index: var(--layer-2);
  //  width: 50px;
  //  box-shadow: var(--box-shadow-xs);
  //}
}
