<form
  [formGroup]="form"
  class="form"
>
  <label class="form__field">
    <span class="form__label">
      Страна
      <sup
        *ngIf="
          form.get('country').errors &&
          form.get('country').hasError('required')
        "
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="country"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="country"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Регион
      <sup
        *ngIf="
          form.get('region').errors &&
          form.get('region').hasError('required')
        "
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="region"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="region"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Город
      <sup
        *ngIf="
          form.get('city').errors &&
          form.get('city').hasError('required')
        "
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="city"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>
    <tui-error
      formControlName="city"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Дом
      <sup
        *ngIf="
          form.get('building').errors && form.get('building').hasError('required')
        "
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="building"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="building" />
    </tui-input>
    <tui-error
      formControlName="building"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label class="form__field">
    <span class="form__label">
      Квартира
      <sup
        *ngIf="
          form.get('apartment').errors && form.get('apartment').hasError('required')
        "
      >*</sup
      >
    </span>
    <tui-input
      tuiTextfieldSize="m"
      formControlName="apartment"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="apartment" />
    </tui-input>
    <tui-error
      formControlName="apartment"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <div class="form__action">
    <button type="button" tuiButton size="m">Сохранить</button>
  </div>
</form>
