<div class="team">
  <div class="team__card">
    <img src="" class="team__img" alt="" />
    <h3>Алексей Кулаков</h3>
    <p>Главный тестировщик</p>
  </div>
  <div class="team__card">
    <img src="" class="team__img" alt="" />
    <h3>Алексей Кулаков</h3>
    <p>Главный тестировщик</p>
  </div>
  <div class="team__card">
    <img src="" class="team__img" alt="" />
    <h3>Алексей Кулаков</h3>
    <p>Главный тестировщик</p>
  </div>
  <div class="team__card">
    <img src="" class="team__img" alt="" />
    <h3>Алексей Кулаков</h3>
    <p>Главный тестировщик</p>
  </div>
</div>
