<section *ngIf="currentUser$ | async as currentUser" class="page">
  <div class="page__container">
    <aside class="page__sidebar">
      <h2 class="page__title">Личный кабинет</h2>
      <div class="page__avatar">
        <img src="" alt="">
      </div>
      <div class="page__user">{{currentUser.email}}</div>
      <ul class="page__nav">
        <li>
          <a routerLink="/account">
            <tui-svg src="icons::user"></tui-svg>
            <span>Мои данные</span>
          </a>
        </li>
        <li>
          <a routerLink="/account/orders">
            <tui-svg src="icons::orders"></tui-svg>
            <span>Информация о заказах</span>
          </a>
        </li>
        <li>
          <span (click)="logout()">
            <tui-svg src="icons::close"></tui-svg>
            <span>Выйти из аккаунта</span>
          </span>
        </li>
      </ul>
    </aside>
    <main class="page__main">
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
