<div class="production">
  <div class="production__container container">
    <div *ngFor="let item of data"  class="production__content" [class.active]="item.id === currentContentId">
     <h2 class="production__title">{{item.title}}</h2>
     <div class="production__text" [innerHTML]="item.text"></div>
    </div>
    <div class="production__actions">
      <button
        *ngFor="let item of data" type="button"
        (click)="setContent(item.id)"
        class="production__btn" [class.active]="item.id === currentContentId"
      >{{item.type}}</button>
    </div>
  </div>
</div>
