<div class="about">
  <div class="about__video"></div>
  <div class="about__content">
    <h2 class="about__title">Наша миссия</h2>
    <p>Создавать одежду, которая сочетает в себе технологичность, стиль, комфорт и функциональность.</p>
    <p>Мы делаем качественные спортивные вещи по ценам доступнее, чем у зарубежных брендов.</p>
    <p>Мы делаем качественные спортивные вещи по ценам доступнее, чем у зарубежных брендов.</p>
    <p>Мы делаем качественные спортивные вещи по ценам доступнее, чем у зарубежных брендов.</p>
    <p>Мы делаем качественные спортивные вещи по ценам доступнее, чем у зарубежных брендов.</p>
  </div>
</div>
